@page "/cart"
@model Pages.Model.CartModel
@{
}
@if(Model.CartItems.Count > 0)
{
    <ul>
        @foreach (var key in Model.CartItems.Keys)
        {
            <li>
                Name = @key.Name
                Quantity = @Model.CartItems[key];
            </li>
        }
    </ul>
}
else
{
    <h1>Nothing in the cart!</h1>
}